.menu_button{
    display: none;
    cursor: pointer;
    position: fixed;
    top: var(--content-pad);
    left: var(--content-pad);
    width: 35px;
    height: 25px;
    z-index: 2;
}

.open_menu_icon{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.open_menu_icon .menu_line{
    height: 20%;
    background-color: var(--color-dark);
    width: 100%;
}

.close_menu_icon{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.close_menu_icon .menu_line{
    height: 100%;
    background-color: var(--color-light);
    width: 14%;
}

@media(max-width: 1000px){
    .open_menu_button{display: block;}
}