html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background: white;
    position: fixed;
}

.first{
    height: 100%;
    background-color: red;
}

.second{
    height: auto;
    background: white;
}


.footer{
    height: 200px;
    background: blue;
}

.section_title{
    display: flex;
    justify-content: center;
}

.section_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
}

.section_content iframe{
    padding: 10px;
}
