html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #011627;
    color: #fdfffc; 
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.header{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.header a{
    color: #fdfffc;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.about{
    width: 100%;
    height: 100%;
    background: url("../assets/rick.jpg") no-repeat center;
    background-size: cover;
}

.about .section_content{
    padding-top: 100px;
    padding-left: 80px;
}

.discography{
    height: auto;
}

.discography .section_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
}

.discography .section_content iframe{
    padding: 10px;
}

.footer{
    height: 200px;
    background-color: #fdfffc;
}

.contact{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 39px 7px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 39px 7px rgba(0,0,0,0.24);
}

.contact .section_content{
    display: flex;
    justify-content: center;
}

.contact .section_content form{
    background-color: #011627;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    padding: 10px; 
}

.close{
    width: 15px;
    height: 15px;
    background-color: white;
    position: relative;
    float: right; 
    border-radius: 15px; 
}

.section_title{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.size_container{
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

.video_container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
}

.video_container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
